a{
    text-decoration: none;
}

.geo_location{
    background-color: red;
    border-radius: 10px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}